.custom-blur {
  background-color: #8903ff91 !important;
  backdrop-filter: blur(300px);
}

#menu {
  transition: transform 0.5s ease-in-out;
  transform: translateX(100%);
}
#menu.open {
  transform: translateX(0);
}

@media screen and (min-width: 1024px) {
  #header.isScrolled nav {
    max-width: 100vw;
  }
  #menu {
    transform: translateX(0);
  }
}
